@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400&display=swap');

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/public/background.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    font-family: 'Lexend', sans-serif; /* Optional: Ensure your font is applied */
  }


.landing-container {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .greeting {
    font-size: 65px; /* Increased font size */
    /* font-weight: bold; Optional: Makes the text bold */
    font-family: 'Lexend', sans-serif;
    color: #333;  
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .search-bar {
    position: relative;
    width: 250px; /* Adjust width as needed */
  }
  
  .search-bar i {
    position: absolute;
    left: 10px; /* Position icon inside input */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px 10px 10px 30px; /* Add padding to leave space for icon */
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded corners */
  }
  
  .add-button {
    background-color: #00aaff; /* Blue color */
    color: white;
    border: none;
    border-radius: 50%; /* Circular shape */
    padding: 10px;
    margin-left: 50px; /* Space between search bar and button */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .event-list {
    margin-top: 20px;
  }
  
  .event-item {
    display: flex;
    align-items: center;
    background-color: #e7f3ff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .event-date {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .event-name {
    color: #333;
  }

  .journal-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensures 4 cards per row */
    grid-gap: 30px; /* Adds space between the cards */
    justify-content: space-between;
  }
  
  .journal-card {
    margin: 0 20px; /* Adds horizontal space between individual cards */
  }